networks:
  whisper_network:
    driver: bridge
  nginx_network:
    driver: bridge

services:
  nginx:
    build: 
      context: .
      dockerfile: ./packages/nginx/Dockerfile
      args:
        NGINX_CERTIFICATE_LOCATION: ${NGINX_CERTIFICATE_LOCATION}
        NGINX_CERTIFICATE_KEY_LOCATION: ${NGINX_CERTIFICATE_KEY_LOCATION}
    container_name: whisper-webui-nginx
    ports:
      - ${NGINX_HTTPS_PORT}:443
      - 24678:24678 
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/logs:/data/logs
      - ${WHISPER_WEBUI_VOLUME_PATH}/transcriptions/out:/data/transcriptions/out
    networks:
      - nginx_network
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      - backend
      - frontend

  mysql:
    build: 
      context: .
      dockerfile: ./packages/mysql/Dockerfile
    container_name: whisper-webui-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - ${MYSQL_EXTERNAL_PORT}:3306
    networks:  
      - whisper_network
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/mysql:/var/lib/mysql
    command: mysqld

  redis:
    build:
      context: .
      dockerfile: ./packages/redis/Dockerfile
    container_name: whisper-webui-redis
    ports:
      - ${REDIS_EXTERNAL_PORT}:6379
    networks:
      - whisper_network
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/redis:/data/redis
    command: ["redis-server", "--appendonly", "yes", "--dir", "/data/redis"]

  frontend:
    container_name: whisper-webui-frontend
    build:
      context: .
      dockerfile: ./packages/frontend/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
      - ORGANIZATION=${ORGANIZATION}
      - DOMAIN=${DOMAIN}:${NGINX_HTTPS_PORT}
      - TITLE=${FRONTEND_TITLE}
    expose:
      - "8000"  # http
      - "24678" # quasar ws dev port
    volumes:
      - ./packages/frontend:/app_dev/packages/frontend
    networks:
      - whisper_network
      - nginx_network
    entrypoint: /usr/local/bin/start.sh
  
  backend:
    container_name: whisper-webui-backend
    build:
      context: .
      dockerfile: ./packages/backend/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
      - USER_SESSION_EXP_TIME=${USER_SESSION_EXP_TIME}
      - MYSQL_URL=${MYSQL_URL}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    expose: 
      - 9000 
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/logs:/data/logs
      - ${WHISPER_WEBUI_VOLUME_PATH}/transcriptions:/data/transcriptions
      - ./packages/backend:/app_dev/packages/backend
      - ./packages/lib:/app_dev/packages/lib
    networks:
      - whisper_network
      - nginx_network
    entrypoint: /usr/local/bin/start.sh

  ws:
    container_name: whisper-webui-ws
    build:
      context: .
      dockerfile: ./packages/ws/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
    expose: 
      - 9001
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/logs:/data/logs
      - ./packages/ws:/app_dev/packages/ws
      - ./packages/lib:/app_dev/packages/lib
    networks:
      - nginx_network
      - whisper_network
    entrypoint: /usr/local/bin/start.sh

  worker:
    container_name: whisper-webui-worker
    build:
      context: .
      dockerfile: ./packages/worker/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
      - MYSQL_URL=${MYSQL_URL}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - HF_TOKEN=${HF_TOKEN}
      - WHISPER_CPU_THREADS=${WHISPER_CPU_THREADS}
      - WHISPER_MODEL=${WHISPER_MODEL}
      - BATCH_SIZE=${BATCH_SIZE}
      - WHISPER_DEVICE=${WHISPER_DEVICE}
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/logs:/data/logs
      - ${WHISPER_WEBUI_VOLUME_PATH}/transcriptions:/data/transcriptions
      - ./packages/worker:/app_dev/packages/worker
      - ./packages/lib:/app_dev/packages/lib
    networks:
      - whisper_network
    entrypoint: /usr/local/bin/start.sh

  jobs:
    container_name: whisper-webui-jobs
    build:
      context: .
      dockerfile: ./packages/jobs/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
      - MYSQL_URL=${MYSQL_URL}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/logs:/data/logs
      - ./packages/jobs:/app_dev/packages/jobs
      - ./packages/lib:/app_dev/packages/lib
    networks:
      - whisper_network
    entrypoint: /usr/local/bin/start.sh


