networks:
  whisper_network:
    driver: bridge
  nginx_network:
    driver: bridge

services:
  nginx:
    build: 
      context: .
      dockerfile: ./packages/nginx/Dockerfile
      args:
        NGINX_CERTIFICATE_LOCATION: ${NGINX_CERTIFICATE_LOCATION}
        NGINX_CERTIFICATE_KEY_LOCATION: ${NGINX_CERTIFICATE_KEY_LOCATION}
    container_name: whisper-webui-nginx
    ports:
      - ${NGINX_HTTPS_PORT}:443
      - 24678:24678 
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/nginx:/data/nginx
    networks:
      - nginx_network
    command: ["nginx", "-g", "daemon off;"]

  mysql:
    build: 
      context: .
      dockerfile: ./packages/mysql/Dockerfile
    container_name: whisper-webui-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - ${MYSQL_EXTERNAL_PORT}:3306
    networks:  
      - whisper_network
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}/mysql:/var/lib/mysql
    command: mysqld

  frontend:
    container_name: whisper-webui-frontend
    build:
      context: .
      dockerfile: ./packages/frontend/Dockerfile
      target: ${WHISPER_WEBUI_ENV}
    environment:
      - NODE_ENV=${WHISPER_WEBUI_ENV}
      - TITLE=${FRONTEND_TITLE}
    expose:
      - "8000"  # http
      - "24678" # quasar ws dev port
    volumes:
      - ${WHISPER_WEBUI_VOLUME_PATH}:/data
      - ./packages/frontend:/app_dev/packages/frontend
    networks:
      - whisper_network
      - nginx_network
    command: npm run dev


